* {
    padding: 0;
    margin: 0;
}

input::placeholder {
    color:rgba(255,255,255,.7);
}
body {
    background-color: #f6f9fe;
    background: url(/data/img/background.jpg) no-repeat;
    background-position: center top;
}
.header {
    border-bottom:1px solid rgba(255, 255, 255, .24) ;
    margin-bottom: 42px;
}
.banner {
    width: 1200px;
    margin: 0 auto;
}
nav {
    text-align: right;
    position: relative;
    box-sizing: border-box;
    padding-top: 17px;
    height: 64px;
}
a {
    color:#fff ;
    text-decoration: none;
}
.transition {
    transition: all 1s;
}
html::selection {
    background-color:#690;
}