
/* nav样式 */

.logo {
    width: 140px;
    height: 32px;
    position: absolute;
    background: url(/data/img/0.webp) no-repeat ;
    background-size:auto 32px ;
}

.nav_a{
    
    display: inline-block;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 5px;
}
.nav_a:last-of-type{
    font-size: 14px;
    margin-right: 300px;
    color: #fff;
    opacity: .7;
    line-height: 14px;

}
.nav_p {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    padding-bottom: 20px;
}
/* 关注 */
.concern {
    display: none;
    position: absolute;
    left: 780px;
    top: 50px;
    width: 418px;
    min-height: 86px;
    background:#fff;
    border-radius: 5px;
    padding: 17px 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
}
.concern:hover {
    display:block;
}
.nav_p:hover + .concern {
display: block;
}
.nav_p::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: baseline;
    background: url(/data/img/nav_p_before.png);

}
.full_city {
    display: none;
    position: absolute;
    width: 138px;
    height: 27px;
    background: #fff;
    color: #9f9f9f;
    line-height: 27px;
    font-size: 12px;
    right: 230px;
    top: 50px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    text-align:center
}
.search_city {
    font-family: "Microsoft Yahei";
    border: none;
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,.7);
    box-sizing: border-box;
    width: 277px;
    height: 30px;
    resize: none;
    outline: none;
    padding: 5px 13px;
    border-radius: 15px; 
    line-height: 20px;
    font-size: 14px;

}

.input_search {
    position: absolute;
    right: 0;
    top: 17px;
}

.search_list {
    display: none;
    text-align: left;
    box-sizing: border-box;
    width: 261px;
    height: auto;
    background-color: #fff;
    position: relative;
    left: 10px;
    max-height: 210px;
    overflow: scroll;
    overflow-x: hidden; /* 禁止左右滚动 */
    overflow-y: auto;
    box-shadow: 0 0 4px 0;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    position: absolute;
    top: 32px;
}
/* 热门城市 */
.hot_city {
    display: none;
    position: absolute;
    top: 32px;
    width:277px ;
    height: auto;
}

/* 搜索的选项样式 */
.search_list ul li {
    cursor: pointer;
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
    padding: 6px;
}
/* 关键字高亮 */
.search_list ul li .highlight {
    color: #448aff;
    pointer-events: none;
}
