
/* nav样式 */

.logo {
    width: 140px;
    height: 32px;
    position: absolute;
    background: url(/data/img/0.webp) no-repeat ;
    background-size:auto 32px ;
}

.search_city {
    font-family: "Microsoft Yahei";
    border: none;
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,.7);
    box-sizing: border-box;
    width: 277px;
    height: 30px;
    resize: none;
    outline: none;
    padding: 5px 13px;
    border-radius: 15px; 
    line-height: 20px;
    font-size: 14px;

}

.input_search {
    float: right;
}

.search_list {
    text-align: left;
    box-sizing: border-box;
    width: 261px;
    height: auto;
    background-color: #fff;
    position: relative;
    left: 10px;
    top: 2px;
    max-height: 210px;
    overflow: scroll;
    overflow-x: hidden; /* 禁止左右滚动 */
    overflow-y: auto;
    box-shadow: 0 0 4px 0;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}
/* 搜索的选项样式 */
.search_list ul li {
    cursor: pointer;
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
    padding: 6px;
}
/* 关键字高亮 */
.search_list ul li .highlight {
    color: #448aff;
    pointer-events: none;
}
