*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
    color: rgb(141, 141, 141);
}
.main_login a,
.main_reg a{
   position: absolute;
   right: 20px;
   bottom: 10px;
}
input[type="text"],
    input[type="password"] {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #ccc;
        outline: none;
        padding: 10px;
        margin: 5px 0;
        border-radius: 4px;
        width: 70%;
        height: 40px;
        font-size: 16px;
      /* background: ;  */
    }
.main {
    width: 700px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}
.move_window{
    display: flex;
    width: 200%;
    height: auto;
}
.main_login{  
        position: relative;
        width: 50%;
        height: 210px;
        padding: 20px;
        padding-bottom: 60px;
        border-radius: 8px;
        background-color: #fff;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.main_reg{
    position: relative;
    width: 50%;
    height: 382px;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 8px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
[class$='prompt'] {
    padding-left: 100px;
    height: 12px;
}
[class$='box'] {
margin: 10px 0;
}
[class^='main_'] .title {
   width: 100%;
   height: 60px;
   line-height: 60px;
   font-size: 30px;
   color: rgb(0, 0, 0);
}
.in p {
    text-align: right;
    display: inline-block;
    width: 100px;
}
p[class$='prompt'] {
    width: 400px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    color: silver;
}
.login_button,
.reg_button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}
.promptWindow {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    animation: promptMove 3s 1 forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
    color: white;
    font-size: 16px;
    z-index: 1000;
}
@keyframes promptMove {
    0%{
        transform:translateX(-50%) translateY(0)
    }
    10%{
        transform:translateX(-50%) translateY(100%)
    }
    90%{
        transform:translateX(-50%) translateY(100%)
    }
    100%{
        transform:translateX(-50%) translateY(0)
    }
}
/* 调用 animation: promptMove 3s 1 forwards;*/