
/* nav样式 */

.logo {
    width: 164px;
    height: 38px;
    position: absolute;
    top: 15px;
    background: url(/data/img/0.webp) no-repeat ;
    background-size:auto 38px ;
}

.nav_a{
    
    display: inline-block;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 5px;
}
.nav_a:last-of-type{
    font-size: 14px;
    margin-right: 300px;
    color: #fff;
    opacity: .7;
    line-height: 14px;

}
.nav_p {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    padding-bottom: 20px;
}
/* 关注 */
.concern {
    display: none;
    position: absolute;
    left: 780px;
    top: 50px;
    width: 418px;
    min-height: 86px;
    background:#fff;
    border-radius: 5px;
    padding: 17px 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    text-align: left;
    z-index: 100;
}
.concern h3 {
    font-size: 12px;
    color: #9f9f9f;
    height: 17px;
    line-height: 17px;
    font-weight: 400;
    margin-left: 20px;
}
.concern ul{
    padding-top: 10px;
    list-style: none;

}
.concern ul > span {
    display: block;
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 20px;
    
}
.concern ul li {
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #555;
}
.concern ul li:hover{
    background-color: #f4f4f4;
}
.concern ul li:hover > p::after{
    display: none;
}
.concern ul li:hover > p > .set_default,
.concern ul li:hover > .delete_concern {
    display: inline-block;
}
.concern ul li img {
    line-height: 32px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.concern ul li p{
    display: inline-block;
}
.concern ul li p:nth-of-type(1){
    width: 146px;
}
.set_default {
    display: none;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #cecece;
    color: #777;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
}
.default_color::after {
    content: '默认';
    padding: 0 4px;
    display: inline-block;
    color: #63b6f6;
    border: 1px solid #63b6f6;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.concern ul li p:nth-of-type(2){
    width: 120px;
}
.delete_concern {
    cursor: pointer;
    display: none;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    background: url(/data/img/delete_concern.png);
}
.concern:hover {
    display:block;
}
.nav_p:hover + .concern {
display: block;
}
.nav_p::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: baseline;
    background: url(/data/img/nav_p_before.png);

}
.full_city {
    display: none;
    position: absolute;
    width: 138px;
    height: 27px;
    background: #fff;
    color: #9f9f9f;
    line-height: 27px;
    font-size: 12px;
    right: 230px;
    top: 50px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    text-align:center
}
.search_city {
    font-family: "Microsoft Yahei";
    border: none;
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,.7);
    box-sizing: border-box;
    width: 277px;
    height: 30px;
    resize: none;
    outline: none;
    padding: 5px 13px;
    border-radius: 15px; 
    line-height: 20px;
    font-size: 14px;

}

.input_search {
    position: absolute;
    right: 0;
    top: 17px;
}

.search_list {
    display: none;
    text-align: left;
    box-sizing: border-box;
    width: 261px;
    height: auto;
    background-color: #fff;
    position: relative;
    left: 10px;
    max-height: 210px;
    overflow: scroll;
    overflow-x: hidden; /* 禁止左右滚动 */
    overflow-y: auto;
    box-shadow: 0 0 4px 0;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    position: absolute;
    top: 32px;
    z-index: 100;
}
/* 热门城市 */
.hot_city {
    display: none;
    position: absolute;
    top: 32px;
    width:277px ;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 20px 0 10px;
    text-align: left;
    z-index: 100;
}
.hot_city p {
    display: block;
}
.hot_city .now_location {
    font-size: 12px;
    color: #9f9f9f;
    height: 12px;
    line-height: 12px;
    clear: both;
    padding: 0 20px;
    margin-bottom: 12px;
}
.hot_city .now_location1 {
    display: inline-block;
    color: #555;
    height: 14px;
    line-height: 14px;
    cursor: pointer;
    margin-bottom: 24px;
    margin-left: 20px;
}
.now_location1:hover {
    background-color: #f3f3f3;
}
.hot_city .now_location1::after{
    content: '';
    vertical-align: middle;
    height: 11px;
    width: 10px;
    position: absolute;
    left: 66px;
    top: 50px;
    margin-left: 6px;
    background-image: url(/data/img/small_location.png);
}
.history {
    width: 277px;
    height: 50px;
    margin-bottom: 14px;
    text-align: left;
}
.hot_city .tit {
    display: block;
    margin-top: 2px;
    margin-bottom: 8px;
    padding: 0 20px;
    width: 48px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #9f9f9f;
}
.history .btn {
    float: right;
    color: #868686;
    text-align: center;
    width: 40px;
    height: 18px;
    border-radius: 9px;
    font-size: 12px;
    margin-right: 20px;
    background-color: #f0f0f0;
    margin-top: 3px;
}
.history_ul,.history ul {
    width: 259px;
    height: 28px;
    list-style: none;
    margin-left: 20px;
    margin-right: 2px;
}
.ul2 {
    height: 196px;
}

.history_ul li,.history ul li {

    color: #555;
    font-size: 14px;
    float: left;
    width: 25%;
    height: 28px;
    cursor: pointer;
}
.history_ul li p,
.history ul li p {
    display: inline-block;
}
.history_ul li p:hover,
.history ul li p:hover {
    background-color: #f3f3f3;
}
/* 搜索的选项样式 */
.search_list ul li {
    cursor: pointer;
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
    padding: 6px;
}
/* 关键字高亮 */
.search_list ul li .highlight {
    color: #448aff;
    pointer-events: none;
}
